@import "../../style/style.scss";

#homePage {
    width: 100vw;
    margin-top: 5rem;
    height: 70vh;
    position: fixed;
    background-color: $dark;
    text-align: center;
    @include breakpoint(sm-only) {
        padding-inline:1rem;
    }
    h1 {
        cursor: pointer;
        font-size: 8rem;
        color: $light;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;   
        margin-top: 6rem;
        position: relative;
        @include breakpoint(sm-only) {
            margin-top: 2rem;
            font-size: 4.5rem;
        }
    }

    .bubble{
        cursor: pointer;
        inset: 80% 0 0 -1%;
        width: 20rem;
        height:auto;
        position:absolute;
        z-index: 8;
        @include breakpoint(sm-only) {
            inset: 80% 0 0 10%;
        }
    }

    .bubble_2{
        cursor: pointer;
        inset: 0 0 0 80%;
        width: 17rem;
        height:auto;
        position:absolute;
        z-index: 7;
        @include breakpoint(sm-only) {
            display:none;
        }
    }


}

@media only screen and (max-width: 1000px) {
    .animation {
        .item:not(.item-4) {
            visibility: hidden;
        }
    }

}