*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ol,
ul {
    list-style: none;
}
Link,a, Navlink{
    text-decoration: none;
}
#root {
    height: 100%;
}